@font-face {
  font-family: Mandalore;
  src: url("./font/MandaloreLaser-x33B8.otf") format("opentype");
}

@font-face {
  font-family: Mandalore Title;
  src: url("./font/MandaloreTitle-lggAe.otf") format("opentype");
}  

body{
  margin:0px;
  height: 100%; 
  width: 100%; 
  overflow: hidden
}

#back{
  background-color: black;
  color: #fff;
}

.pause{
  display: none;

  background-color: rgba(0, 0, 0, 0.479);
  font-family: 'Mandalore';
  font-size: 10em;

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top:5%;

  color: #fff;
  text-align: center;
  line-height: 3em;

  z-index: 5;
}
.pause.active{
  display: block;
}

/* #light{
  position: absolute;

  bottom:-15%;
  left:6%;

  background-color: #363b3f;

  width: 100%;
  height: 30%;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  filter: blur(200px);
  /* filter: opacity(10%); 
  mix-blend-mode: lighten;
} */



