@font-face {
  font-family: Mandalore;
  src: url("./font/MandaloreLaser-x33B8.otf") format("opentype");
}

@font-face {
  font-family: Mandalore Title;
  src: url("./font/MandaloreTitle-lggAe.otf") format("opentype");
}  

body{
  margin:0px;
  height: 100%; 
  width: 100%; 
  overflow: hidden
}

#back{
  background-color: black;
  color: #fff;
}

.pause{
  display: none;

  background-color: rgba(0, 0, 0, 0.479);
  font-family: 'Mandalore';
  font-size: 10em;

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top:5%;

  color: #fff;
  text-align: center;
  line-height: 3em;

  z-index: 5;
}
.pause.active{
  display: block;
}



.enter{
  display: none;
  background-color: rgba(0, 0, 0, 0.479);
  font-family: 'Mandalore';
  font-size: 5em;

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top:30%;

  color: #fff;
  text-align: center;
  /* line-height: 3em; */

  z-index: 5;
}

.active{
  display: block;
}

textarea:focus, input:focus {
  color: #fff;
}

input, select, textarea{
  color: #fff;
}

input[type='text']{
  background: transparent;
  border: none;
  outline: none;

  color:#fff;

  border-bottom: 1px solid #fff;
}

span#enter-btn{
  display: inline-block;
  width: 30px;
  height: 30px;

  border: 1px solid #fff;

  font-size: 30px;
  cursor: pointer;
}

span#enter-btn:hover{
  background-color: #fff;
  color: #000;

}

table{
  display: none;
  background-color: rgb(0, 0, 0);
  font-family: 'Mandalore';
  font-size: 3em;

  width: 80%;
  height: 80%;

  position: fixed;
  top:10%;
  left:10%;
  color: #fff;
  text-align: center;
  /* line-height: 3em; */
  
  z-index: 5;
}

table td, table th{
  border: 1px solid #fff;
  width: 20%;
  height: 10%;
}

/* #light{
  position: absolute;

  bottom:-15%;
  left:6%;

  background-color: #363b3f;

  width: 100%;
  height: 30%;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  filter: blur(200px);
  /* filter: opacity(10%); 
  mix-blend-mode: lighten;
} */



